﻿@model AppFilms.Models.Movie
@{
    ViewBag.Title = (Model.MovieID > 0 ? Model.Name + Model.ReleaseYear + Model.Sinopsis + Model.Cast + Model.Image : "Nuevo registro");
    List<AppFilms.Models.Genre> genres = ViewBag.Genres;
    List<AppFilms.Models.Actor> actors = ViewBag.Actors;
}

<ol class="breadcrumb">
    <li><a href="~/">Pelicula</a></li>
    <li class="active">@(Model.MovieID > 0 ? Model.Name + Model.ReleaseYear + Model.Sinopsis + Model.Cast + Model.Image : "Nuevo registro")</li>
</ol>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#informacion" aria-controls="home" role="tab" data-toggle="tab">Información</a></li>

        @if (Model.MovieID > 0)
        {
            <li role="presentation"><a href="#adjuntos" aria-controls="profile" role="tab" data-toggle="tab">Documento adjunto</a></li>
        }
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="informacion">

            @using (Html.BeginForm("Guardar", "Home", FormMethod.Post, new { id = "frm-movie" }))
            {
                @Html.HiddenFor(x => x.MovieID)
                <div class="panel panel-default">
                    <div class="panel-heading">Información de pelicula</div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Name)
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "label label-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ReleaseYear)
                            @Html.TextBoxFor(x => x.ReleaseYear, new { @class = "form-control datepicker", @value = "" })
                            @Html.ValidationMessageFor(x => x.ReleaseYear, null, new { @class = "label label-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Sinopsis)
                            @Html.TextBoxFor(x => x.Sinopsis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Sinopsis, null, new { @class = "label label-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Cast)
                            @Html.TextBoxFor(x => x.Cast, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Cast, null, new { @class = "label label-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Image)
                            @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Image, null, new { @class = "label label-danger" })
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Generos</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            @foreach (var c in genres)
                            {
                                var tomado = false;
                                foreach (var c2 in Model.Genres)
                                {
                                    if (c.GenreID == c2.GenreID)
                                    {
                                        tomado = true;
                                        break;
                                    }
                                }
                                <li class="list-group-item">
                                    <label><input type="checkbox" @(tomado ? "checked" : "") name="generos_seleccionados" value="@c.GenreID" /> @c.Name</label>
                                </li>
                            }
                        </ul>
                        @Html.ValidationMessage("cursos", new { @class = "label label-danger", id = "generos-validacion" })
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Reparto</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            @foreach (var c in actors)
                            {
                                var tomado = false;
                                foreach (var c2 in Model.Actors)
                                {
                                    if (c.ActorID == c2.ActorID)
                                    {
                                        tomado = true;
                                        break;
                                    }
                                }
                                <li class="list-group-item">
                                    <label><input type="checkbox" @(tomado ? "checked" : "") name="actores_seleccionados" value="@c.ActorID" /> @c.Name</label>
                                </li>
                            }
                        </ul>
                        @Html.ValidationMessage("actores", new { @class = "label label-danger", id = "actores-validacion" })
                    </div>
                </div>


                <div class="text-right">
                    @if (Model.MovieID > 0)
                    {
                        <a onclick="return confirm('¿Está SEGURO de eliminar este registro?');" href="~/home/eliminar/@Model.MovieID" class="btn btn-danger">Eliminar</a>
                    }
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }

        </div>

        @*@if (Model.MovieID > 0)
        {
            <div role="tabpanel" class="tab-pane" id="adjuntos">
                @using (Html.BeginForm("Adjuntar", "Home", FormMethod.Post, new { id = "frm-adjuntar" }))
                {
                    <input type="hidden" name="Alumno_id" value="@Model.MovieID" />
                    <div class="row">
                        <div class="col-xs-10">
                            <div class="form-group">
                                <input type="file" name="documento" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-primary btn-block">Adjuntar</button>
                        </div>
                    </div>
                }

                <div id="adjuntos-cargados"></div>
            </div>
        }*@
    </div>

</div>


<script>
    $(document).ready(function () {

        @*@if (Model.id > 0)
        {
            <text>
            CargarAdjuntos();
            </text>
        }*@

        $("#frm-movie").submit(function () {
            var form = $(this);

            if (form.validate()) {
                form.ajaxSubmit({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    success: function (r) {
                        if (r.respuesta) {
                            window.location.href = r.redirect;
                        }
                        else {
                            $("#generos-validacion").text(r.error);
                            $("#actores-validacion").text(r.error2);

                            if ($("#generos-validacion").text().length > 0) {
                                $("#generos-validacion").show();
                            }

                            if ($("#actores-validacion").text().length > 0) {
                                $("#actores-validacion").show();
                            }
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }

            return false;
        })

        //$("#frm-adjuntar").submit(function () {
        //    var form = $(this);

        //    form.ajaxSubmit({
        //        dataType: 'JSON',
        //        type: 'POST',
        //        url: form.attr('action'),
        //        success: function (r) {
        //            if (r.respuesta) {
        //                CargarAdjuntos();
        //            }
        //            else {
        //                alert(r.error);
        //            }
        //        },
        //        error: function (jqXHR, textStatus, errorThrown) {
        //            alert(errorThrown);
        //        }
        //    });

        //    return false;
        //})


        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            language: 'es'
        });
    })

    @*function CargarAdjuntos()
    {
        $("#adjuntos-cargados").load("@Url.Content("~/home/adjuntos?Alumno_id=" + Model.MovieID)");
    }*@
</script>

