﻿@model List<AppFilms.Models.Movie>
@{
    /* Otros */
    ViewBag.Title = "Peliculas";
}

<div class="well well-sm">
    <div class="row">
        <div class="col-xs-10">
            <h2>Peliculas</h2>
        </div>
        <div class="col-xs-2 text-right">
            <a class="btn btn-primary" href="~/home/crud">Nuevo registro</a>
        </div>
    </div>
</div>

@foreach (var a in Model)
{
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">@a.Name</div>
            <div class="panel-body">
                <img src="@a.Image" class="center-block" />
                <h3>@a.ReleaseYear</h3>
                @if (a.Sinopsis.Length > 100)
                {
                    <p>@a.Sinopsis.Substring(0, 100) ...</p>
                }
                else
                {
                    <p>@a.Sinopsis ...</p>
                }
                </div>
                <div class="panel-footer">
                    <a class="btn btn-default btn-success" href="~/home/ver/@a.MovieID" title="Visualizar">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </a>
                    <a class="btn btn-default" href="~/home/crud/@a.MovieID" title="Editar">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </div>
            </div>
        </div>

}