﻿@model AppFilms.Models.Movie
@{
    ViewBag.Title = Model.Name;
}

<ol class="breadcrumb">
    <li><a href="~/">Pelicula</a></li>
    <li class="active">@(Model.Name + " " + Model.ReleaseYear)</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Información personal</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Titulo</dt>
            <dd>@Model.Name</dd>
            <dt>Fecha de Estreno</dt>
            <dd>@Model.ReleaseYear</dd>
            <dt>Fecha de Estreno</dt>
            <dd>@Model.ReleaseYear</dd>
            <dt>Sinopsis</dt>
            <dd>@Model.Sinopsis</dd>
            <dt>Portada</dt>
            <dd>@Model.Image</dd>
        </dl>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Generos</div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var c in Model.Genres)
            {
                <li class="list-group-item">
                    @c.Name
                </li>
            }
        </ul>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Reparto</div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var c in Model.Actors)
            {
                <li class="list-group-item">
                    @c.Name
                </li>
            }
        </ul>
    </div>
</div>
